.title-bar-modal {
  border-radius: 5px;
  padding: 40px 0; /* This will give space from the top and bottom inside the modal */
}

.starter-logo {
  display: left;
  width: 80px;
  height: 80px;
  margin-left: -1850px;
  margin-top: -70px;
}

.title-of-title-bar-modal {
  font-size: 80px; /* Increased font size */
  font-weight: bold;
  color: white; /* Changed to white for better contrast */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 10px; /* Adjusted margin */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Added text shadow */
  letter-spacing: 2px; /* Increased letter spacing */
  text-transform: uppercase; /* Made text uppercase */
  -webkit-text-stroke: 1.5px cyan; /* Cool letter outline */
}

.description-of-title-bar-modal {
  color: lightgray; /* Light gray color for better contrast */
  font-size: 13px; /* Increased font size for better readability */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); /* Added a subtle text shadow */
  margin-bottom: 300px; /* Adjusted margin */
  margin-top: -15px;
}

.description-of-title-bar-modal span {
  display: inline-block; /* Make sure the span acts as a block but inline */
  position: relative; /* Set positioning context for pseudo-element */
  padding: 0 20px; /* Add padding to allow the extended underline */
  box-shadow: inset 0 -1px 0 0 cyan, inset 0 -0.1px 0 0 cyan; /* Create the underline using box-shadow */
  background: linear-gradient(cyan, cyan) no-repeat center bottom / 100% 0.1px; /* This creates the actual underline */
}

body {
  font-family: 'Raleway', sans-serif;
  background-image: radial-gradient(circle at center, #899Dc4, #000000);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
  font-weight: 300;
}

.all {
  display: flex;
  perspective: 10px;
  transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  perspective-origin: center center;
  transition: all 1.3s ease-out;
  justify-content: center;
  transform-style: preserve-3d;
  margin-bottom: 100px;
}

.all:hover {
  perspective: 1000px;
  transition: all 1.3s ease-in;
  transform: perspective(10000px) rotateX(0deg);
  .text {
    opacity: 1;
  }
  & > div {
    opacity: 1;
    transition-delay: 0s;
  }
  .explainer {
    opacity: 0;
  }
}

.login-button, .start-take-test-button, .admin-login-button, .support-button, .settings-button {
  width: 200px;
  height: 150px;
  transform-style: preserve-3d;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 0 20px 5px rgba(100, 100, 255, .4);
  opacity: 0;
  transition: all .3s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #58d;
  cursor: pointer;
  background-blend-mode: color-burn;
  
  &:hover {
    box-shadow: 0 0 30px 10px rgba(100, 100, 255, .6);
  background-color: #ccf;
  }
}

.text {
  transform: translateY(30px);
  opacity: 0;
  transition: all .3s ease;
  bottom: 0;
  left: 5px;
  position: absolute;
  will-change: transform;
  color: #fff;
  text-shadow: 0 0 5px rgba(100, 100, 255, .6)
}

.support-button {
  transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/organization-512.png);
}

.login-button {
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/creative_draw-512.png);
}

.start-take-test-button {
  opacity: 1;
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/app_window-512.png);
}

.admin-login-button {
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  background-image: url(https://cdn0.iconfinder.com/data/icons/aami-web-internet/64/aami15-17-256.png);
  background-size: 50%;
}

.settings-button {
  transform: translateX(60px) translateZ(-50px) rotateY(10deg);
  background-image: url(https://cdn0.iconfinder.com/data/icons/startup-17/32/startup-27-256.png);
  background-size: 50%;
}

.explainer {
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
  transition: all .6s ease;
  width: 100%;
  height: 100%;
  background-color: #303050;
  background-image: radial-gradient(circle at center top, #cce, rgb(0, 183, 255));
  border-radius: 10px;
  text-shadow: 0 0 10px rgba(255, 255, 255, .8);
  animation: flashGlow 2s infinite; /* Apply the animation */  
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes flashGlow {
  0% {
    box-shadow: 0 0 10px #fff;
    text-shadow: 0 0 10px #fff;
  }
  50% {
    box-shadow: 0 0 20px #fff, 0 0 30px #fff;
    text-shadow: 0 0 15px #fff;
  }
  100% {
    box-shadow: 0 0 10px #fff;
    text-shadow: 0 0 10px #fff;
  }
}

