.TestWebpageTitle {
    font-size: 40px;
    color: white;
  }
  
.DisplayText {
    font-size: 2rem;
    color: black;
    word-wrap: break-word;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
  
.TestQuestionContainer {
    color: black;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 50px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
  
.spacer {
    width: 100px;
    height: 180px;
}


/*
.button-strongly-agree,
.button-agree,
.button-neither,
.button-disagree,
.button-strongly-disagree{
  border-radius: 5px;
  width: 150px; 
  height: 40px; 
}
  .button-strongly-agree {
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
  }
  
  .button-strongly-agree:hover{
    background-color: #007bff;
  }
  
  .button-agree {
    border-radius: 5px;
    background-color: #8bc34a;
    color: white;
    padding: 10px 20px;
  }

  .button-agree:hover{
    background-color: #007bff;
  }
  
  .button-neither {
    border-radius: 5px;
    background-color: #ffc107;
    color: black;
    padding: 10px 20px;
  }
  
  .button-neither:hover{
    color: white;
    background-color: #007bff;
  }

  .button-disagree {
    border-radius: 5px;
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
  }

  .button-disagree:hover{
    background-color: #007bff;
  }
  
  .button-strongly-disagree {
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
  }

  .button-strongly-disagree:hover{
    background-color: #007bff;
  }
  */
/*
.button-strongly-agree {
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.button-strongly-agree-icon {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: 10px;
}
  
.button-strongly-agree-text {
    flex: 1;
}

.button-agree {
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.button-agree-icon {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}
  
.button-agree-text {
    flex: 1;
}

.button-neither {
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.button-neither-icon {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}
  
.button-neither-text {
    flex: 1;
}

.button-disagree {
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.button-disagree-icon {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}
  
.button-disagree-text {
    flex: 1;
}

.button-strongly-disagree {
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.button-strongly-disagree-icon {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}
  
.button-strongly-disagree-text {
    flex: 1;
}

*/

.choice-container {
    display: flex;
    align-items: left;
    justify-content: left;
    background-color: rgb(235, 234, 234);
    width: 750px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    border: 2px solid black;
}
  
  .choice-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .choice-container li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .choice-container button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .choice-container button:hover {
    background-color: #f1f1f1;
  }
  
  .choice-container .button-icon {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .choice-container .button-text {
    flex: 1;
  }

  .continue-message{
    color: black;
    z-index: 1;
  }
  
  .button-strongly-agree,
  .button-agree,
  .button-neither,
  .button-disagree,
  .button-strongly-disagree,
  .button-skip {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px 10px;
  }
  
  .button-strongly-agree {
    background-color: #4caf50;
    color: white;
  }
  
  .button-agree {
    background-color: #8bc34a;
    color: white;
  }
  
  .button-neither {
    background-color: #ffc107;
    color: black;
  }
  
  .button-disagree {
    background-color: #ff5722;
    color: white;
  }
  
  .button-strongly-disagree {
    background-color: #f44336;
    color: white;
  }

  .button-skip {
    background-color: #f44336;
    color: white;
    
  }

.button-next {
    border-radius: 5px;
    padding:10px;
    margin-right: 5px;
}

.button-next:hover{
    color: white;
    background-color: #f1f1f1;
}


.assessment-complete-container {
    display: flex;
    flex-direction: column; /* Set flex direction to column */
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 234, 234);
    width: 900px;
    height: 500px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    border: 2px solid black;
  }
  
  .button-return-home {
    border-radius: 5px;
    padding: 10px;
    margin-top: 50px; /* Add margin-top for separation */
  }

  .assessment-spacer{
    width: 400px;
    height: 400px;
    border:5px solid black;
  } 

  .assessment-spacer-message{
    color: black;
  }

  .assessment-complete-message {
    color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px; /* Add margin-bottom for separation */
    border-bottom: solid black;
  }
  
  .please-contact {
    color: rgb(0, 0, 0);
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px; /* Add margin-bottom for separation */
  }
  